<h1>Books</h1>

<%= link_to "New book", new_book_path if authenticated? %>

<div id="books">
  <% @books.each do |book| %>
    <div>
      <% if book.featured_image.attached? %>
        <%= link_to book_path(book) do %>
          <%= image_tag book.featured_image, alt: book.title, width: 150, height: 200 %>
        <% end %>
      <% end %>

      <br>
      <%= link_to book.title, book_path(book) %>
    </div>
  <% end %>
</div>
