<h1>Books</h1>

<%= link_to "New book", new_book_path if authenticated? %>

<div id="books">
  <% @books.each do |book| %>
    <%= link_to book_path(book), class: "book-card" do %> 
      <div>
        <%= image_tag book.display_image, alt: book.title, width: 150, height: 200 %>
        <br>
        <span><%= book.title %></span>
      </div>
    <% end %>
  <% end %>
</div>
